* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html.dark {
  filter: invert(100%);
  /* transition: 1s ease; */
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  background: #fff;
  position: relative;
}
#switchBtn {
  position: absolute;
  top: 25px;
  right: 0;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.089),
    -1px -1px 2px rgba(0, 0, 0, 0.089);
  display: grid;
  font-size: 12px;
  place-items: center;
}
h2 {
  font-weight: 300;
  margin-bottom: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  background: rgb(252, 252, 252);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.089),
    -1px -1px 5px rgba(0, 0, 0, 0.089);
  flex-direction: column;
  padding: 3rem;
  border-radius: 50px;
}

.input-field {
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.089);
  border-radius: 50px;
  padding: 5px 10px;
}
input {
  padding: 10px;
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
}
#add {
  height: 35px;
  width: 35px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}
button {
  padding: 10px;
  cursor: pointer;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 30px;
}
ul {
  width: 100%;
  margin: 20px 0;
  height: 300px;
  padding: 10px 5px;
  overflow: auto;
}
li {
  width: 100%;
  background: #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 30px;
}
li span.cancel {
  text-decoration: line-through;
}
li.cancel {
  background-color: #e4e4e4;
}
li i {
  transition: ease 0.4s;
  cursor: pointer;
}
li i:hover {
  font-size: 15px;
  color: red;
}

.footer {
  width: 100%;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  color: #333;
}
